// Here you can add other styles
.c-header, .c-sidebar .c-sidebar-brand {
    background: #ffd900;
    border-bottom: none;
}

.c-header {
    
    .c-header-toggler {
        min-height: 55px;
    }

}

.blue-drop {
    color: #fff;
    background: #004fb6;
}

.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon.icon-text-primary {
    color: #004fb6;
}
.c-sidebar 
{
    .c-sidebar-nav-link:hover {
        background: #333;
    }
}

.c-sidebar {
    background: #fff;
    //background: rgb(90, 80, 80);
    .c-sidebar-minimizer:hover {
        background-color: #004fb6;
    }

    .c-sidebar-nav-link{
        color: #004fb6;
    }

    .blue-drop {
            .c-sidebar-nav-link{
            color: #fff;
        }
    }   

    .nav-dropdown.open {
        background: #004fb6;
        color: #fff;

        .nav-icon {
            color: #fff;
        }

    }

    .nav-link {
        color: #004fb6;

        .nav-icon {
            color: #004fb6;
        }
    }

    .nav-link:hover, .nav-link.active {
        color: #fff;
        background: #004fb6;

        .nav-icon {
            color: #fff;
        }
    }

    .c-sidebar-minimizer {
        height: 49px;
        background: #333;
    }
}

.c-sidebar-minimized {

    .c-sidebar {    
 
        .nav-item:hover > .nav-link {
            background: #004fb6;
            color: #fff;
        }

        .nav > .nav-dropdown > .nav-dropdown-items {
            background: #fff;
        }
    }
}

.c-sidebar-minimized .c-sidebar .nav > .nav-dropdown > .nav-dropdown-items {
    display: none;
    max-height: 1000px;
    background: white;
    border-left: 1px solid #e4e5e6;
}

.app-footer {
    color: #ccc;
    background: #333;
}

button:focus {
    outline: none;
}

.tcs-logo {
    height: 25px;
    width: 75px;
    margin-right: 10px;
}